<div class="register-container">
  <mat-card class="register-card">
    <mat-card-header class="logo-header">
      <div class="smart-tech-logo">
        <span class="smart-logo">Smart</span><span class="tech-logo">Tech</span>
      </div>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (errorMessage) {
        <div class="error-message">{{ errorMessage }}</div>
      }
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" type="email">
          <mat-icon matPrefix>person</mat-icon>
          @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
            <mat-error>
              Por favor, insira um e-mail válido.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
            <mat-error>
              A senha deve ter no mínimo 8 caracteres.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Confirmar Senha</mat-label>
          <input matInput formControlName="confirmPassword" [type]="hidePassword ? 'password' : 'text'">
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
            <mat-error>
              As senhas não conferem.
            </mat-error>
          }
        </mat-form-field>
        
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Registrar</button>
        </div>
      </form>
    </mat-card-content>
    
    <mat-card-actions class="social-login-actions">
        <p>Já tem uma conta? <a routerLink="/auth/login">Faça o login aqui</a></p>
    </mat-card-actions>
  </mat-card>
</div>