// Importa o tema do Material
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Outros estilos globais podem vir aqui */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}